<div class="dashboard-actions">
  
    <input nz-input placeholder="Nom et prénom" [(ngModel)]="searchNamePrenom"  (ngModelChange)="onSearchChange()" />
    <input nz-input placeholder="Email / telephone" [(ngModel)]="searchEmailTelephone"  (ngModelChange)="onSearchChange()" />
    <input nz-input placeholder="Audience " [(ngModel)]="searchAudience"  (ngModelChange)="onSearchChange()" />
    <input nz-input placeholder="Entreprise" [(ngModel)]="searchCompany"  (ngModelChange)="onSearchChange()" />
  </div>

  
  
  
  <nz-table
    #basicTable
    [nzData]="filteredContacts"
    [nzScroll]="{ x: '100%', y: '500px' }"
    [nzBordered]="true"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="total"
    [nzShowPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  >
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Source</th>
        <th>Action</th>
      </tr>
    </thead>
  
    <tbody>
      <ng-container *ngFor="let contact of filteredContacts">
        <tr>
          <td>{{ contact.name }}</td>
          <td>{{ contact.username }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.source }}</td>
         
          <td class="action-icons">

            <button nz-button nzType="link" (click)="toggleDetails(contact.id)">
              <i
                nz-icon
                [nzType]="isExpanded(contact.id) ? 'up' : 'down'"
                nzTheme="outline"
              ></i>
            </button>
  
            <!-- Icône pour "Modifier" -->
            <button nz-button nzType="link" (click)="openContactUpdateModal(contact)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            
            <!-- Icône pour "Supprimer" -->
            <button nz-button nzType="link" nzDanger (click)="deleteUser(contact)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="isExpanded(contact.id)">
          <td colspan="10" class="company-details">
            <p><strong>Audiences associées à {{ contact.name }}</strong></p>
        
            <div *ngIf="!contact.audienceContacts || contact.audienceContacts.length === 0">
              <p class="no-users-message">Aucune audience associée à ce contact.</p>
            </div>
        
            <ul *ngIf="contact.audienceContacts && contact.audienceContacts.length > 0">
              <li *ngFor="let audience of contact.audienceContacts">
                {{ audience.name }}
              </li>
            </ul>
          </td>
        </tr>
        
        
      </ng-container>
    </tbody>
  </nz-table>
  
  
  
  
  <!-- Ajoutez un conteneur pour espacer la pagination -->
  <div class="pagination-container">
    <nz-pagination
      [(nzPageIndex)]="pageIndex"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
    ></nz-pagination>
  </div>
  