<div class="dashboard-actions">
  <button nz-button nzType="primary" (click)="openAudienceCreateModal()">Ajouter une audience</button>

  <input nz-input placeholder="Recherche par libellé" [(ngModel)]="searchName"  (ngModelChange)="onSearchChange()" />
  <input nz-input placeholder="Recherche par description" [(ngModel)]="searchDescription"  (ngModelChange)="onSearchChange()" />
</div>

<nz-table #basicTable [nzData]="filteredAudiences" [nzScroll]="{ x: '100%', y: '500px' }" [nzBordered]="true"
  [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" [nzShowPagination]="false"
  (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)">
  <thead>
    <tr>
      <th>Libellé</th>
      <th>Description</th>
      <th>Entreprise</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let audience of filteredAudiences">
      <tr>
        <td>{{ audience.name }}</td>
        <td>{{ audience.description }}</td>
        <td>{{ audience.companyLib || 'Non spécifié' }}</td>

        <td class="action-icons">

      

          <!-- Icône pour "Modifier" -->
          <button nz-button nzType="link" (click)="openAudienceCreateModal(audience)">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>

          <!-- Icône pour "Supprimer" -->
          <button nz-button nzType="link" nzDanger (click)="openDeleteModal(audience)">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>

          <!-- Icône pour "Voir les contacts" -->
          <button nz-button nzType="link" (click)="goToContacts(audience)">
            <i nz-icon nzType="contacts" nzTheme="outline"></i>
          </button>
        </td>
      </tr>

    </ng-container>
  </tbody>
</nz-table>




<!-- Ajoutez un conteneur pour espacer la pagination -->
<div class="pagination-container">
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
</div>
