<div class="dashboard-actions">
    <!-- <button nz-button nzType="primary" (click)="openModal()">Ajouter</button> -->
    <button nz-button nzType="primary" (click)="openCompanyCreateModal()">Ajouter une entreprise</button>
  
    <input nz-input placeholder="Recherche par nom" [(ngModel)]="searchName" />
    <input nz-input placeholder="Recherche par description" [(ngModel)]="searchDesc" />
    <input nz-input placeholder="Recherche par Localisation" [(ngModel)]="searchLocation" />

  </div>
  

  
  
  <nz-table
    #basicTable
    [nzData]="filteredCompanies"
    [nzScroll]="{ x: '100%', y: '500px' }"
    [nzBordered]="true"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="total"
    [nzShowPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  >
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Télephone</th>
        <th>Localisation</th>
        <th>Action</th>
      </tr>
    </thead>
  
    <tbody>
      <ng-container *ngFor="let company of filteredCompanies">
        <tr>
          <td>{{ company.name }}</td>
          <td>{{ company.description }}</td>
          <td>{{ company.phone }}</td>
          <td>{{ company.location }}</td>
         
          <td class="action-icons">

            <button nz-button nzType="link" (click)="toggleDetails(company)">
              <i nz-icon [nzType]="company.deleted ? 'up' : 'down'" nzTheme="outline"></i>
            </button>
         
            <!-- Icône pour "Voir en détail" -->
            <button nz-button nzType="link" (click)="viewDetailsCompany(company)">
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </button>
  
            <!-- Icône pour "Modifier" -->
            <button nz-button nzType="link" (click)="editCompany(company)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            
            <!-- Icône pour "Supprimer" -->
            <button nz-button nzType="link" nzDanger (click)="openDeleteModal(company)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
           
          </td>
        </tr>

        <tr *ngIf="company.deleted">
         
          <td colspan="10" class="company-details">
            <p><strong>Les membres de l'entreprise {{ company.name }}</strong></p>
            <ol>
               <!-- Boucler sur les differents users que contient ce entreprise -->
              <!-- <button nz-button nzType="link" (click)="viewDetailsUser(user)">
                <li><p>oklm bro</p></li>
              </button> -->
               <!-- crrer un bouton icone supprier devant chaque utilisateur  -->
            </ol>
          </td>
        </tr>
        
      </ng-container>
    </tbody>
  </nz-table>
  

  
  
  <!-- Ajoutez un conteneur pour espacer la pagination -->
  <div class="pagination-container">
    <nz-pagination
      [(nzPageIndex)]="pageIndex"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
    ></nz-pagination>
  </div>
  