<div class="dashboard-actions">
    <button nz-button nzType="primary" (click)="openCampaignCreateModal()">Ajouter une campagne</button>
  
    <input nz-input placeholder="Recherche par libellé" [(ngModel)]="searchName"   (ngModelChange)="onSearchChange()" />
    <input nz-input placeholder="Recherche par entreprise" [(ngModel)]="searchCompany"  (ngModelChange)="onSearchChange()" />
    <input nz-input 
    id="role"
    list="role-option"
    name="role"
    placeholder="Recherche par status" [(ngModel)]="searchStatus"  (ngModelChange)="onSearchChange()" />

    <datalist id="role-option">
      <option *ngFor="let status of campaignStatuses" [value]="status"></option>
    </datalist>
    

    <!-- Sélecteur de rôle -->
   
  </div>
  
  <nz-table
    #basicTable
    [nzData]="filteredCampaigns"
    [nzScroll]="{ x: '100%', y: '500px' }"
    [nzBordered]="true"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="total"
    [nzShowPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  >
    <thead>
      <tr>
        <th>Libellé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Entreprise</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
  
    <tbody>
      <ng-container *ngFor="let campaign of filteredCampaigns">
        <tr>
          <td>{{ campaign.name }}</td>
          <td>{{ campaign.start_date | date: 'shortDate' }}</td>
          <td>{{ campaign.end_date | date: 'shortDate' }}</td>
          <td>{{ campaign.companyLib || 'Non spécifié' }}</td>
          <td>
            <span *ngIf="campaign.status === campaignStatus.CANCELLED ">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red; padding-right: 5px;"></i>
              <span>Annulé</span>
            </span>
          
            <span *ngIf="campaign.status ===  campaignStatus.COMPLETED ">
              <i nz-icon nzType="check-circle" nzTheme="outline" style="color: green; padding-right: 5px;"></i>
              <span>Complété</span>
            </span>
          
            <span *ngIf="campaign.status ===  campaignStatus.PENDING">
              <i nz-icon nzType="clock-circle" nzTheme="outline" style="color: orange; padding-right: 5px;"></i>
              <span>En attente</span>
            </span>
          </td>
          
          
         
          <td class="action-icons">
         
     
  
            <!-- Icône pour "Modifier" -->
            <button nz-button nzType="link" (click)="openCampaignCreateModal(campaign)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            
            <!-- Icône pour "Supprimer" -->
            <button nz-button nzType="link" nzDanger (click)="openDeleteModal(campaign)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </td>
        </tr>
        
      </ng-container>
    </tbody>
  </nz-table>
  
  
  
  
  <!-- Ajoutez un conteneur pour espacer la pagination -->
  <div class="pagination-container">
    <nz-pagination
      [(nzPageIndex)]="pageIndex"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
    ></nz-pagination>
  </div>
  