<div class="dashboard-actions">
  <button nz-button nzType="primary" (click)="openTemplateCreateModal()">Ajouter un utilisateur</button>

  <input nz-input placeholder="Recherche par nom" [(ngModel)]="searchName" (ngModelChange)="onSearchChange()" />
  <input nz-input placeholder="Recherche par canal" [(ngModel)]="searchTemplateType"  (ngModelChange)="onSearchChange()" />

</div>





<nz-table
  #basicTable
  [nzData]="filteredTemplates"
  [nzScroll]="{ x: '100%', y: '500px' }"
  [nzBordered]="true"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzTotal]="total"
  [nzShowPagination]="false"
  (nzPageIndexChange)="onPageIndexChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)"
>
  <thead>
    <tr>
      <th>Libellé</th>
      <th>Contenu</th>
      <th>Type de template</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let templateType of filteredTemplates">
      <tr>
        <td>{{ templateType.name }}</td>
        <td>{{ templateType.content }}</td>
        <td>{{ templateType.templateTypeLib || 'Non spécifié'}}</td>
        <td class="action-icons">
          <!-- Icône pour "Modifier" -->
          <button nz-button nzType="link" (click)="openTemplateCreateModal(templateType)">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
          
          <!-- Icône pour "Supprimer" -->
          <button nz-button nzType="link" nzDanger (click)="openDeleteModal(templateType)">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </td>
      </tr>
      
    </ng-container>
  </tbody>
</nz-table>




<!-- Ajoutez un conteneur pour espacer la pagination -->
<div class="pagination-container">
  <nz-pagination
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  ></nz-pagination>
</div>
