<div class="dashboard-actions">
    <button nz-button nzType="primary" (click)="openMessageCreateModal()">Ajouter un message</button>
  
    <input nz-input placeholder="Recherche par objet" [(ngModel)]="searchObjet"  (ngModelChange)="onSearchChange()" />
    <input nz-input placeholder="Recherche par contenu" [(ngModel)]="searchContent"  (ngModelChange)="onSearchChange()" />
    <input nz-input placeholder="Recherche par entreprise" [(ngModel)]="searchCompany"  (ngModelChange)="onSearchChange()" />

    <nz-select
    id="role"
    [(ngModel)]="searchStatus"
    nzPlaceHolder="Choisir un status"
    (ngModelChange)="onSearchChange()"
  >
    <nz-option *ngFor="let status of tabStatus" [nzValue]="status" [nzLabel]="status">
      {{ getStatusLabel(status) }}
    </nz-option>
  </nz-select>
  </div>
  

  
  
  <nz-table
    #basicTable
    [nzData]="filteredMessage"
    [nzScroll]="{ x: '100%', y: '500px' }"
    [nzBordered]="true"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="total"
    [nzShowPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  >
    <thead>
      <tr>
        <th>Objet</th>
        <th>Contenue</th>
        <th>Entreprise</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
  
    <tbody>
      <ng-container *ngFor="let message of filteredMessage">
        <tr>
          <td>{{ message.object }}</td>
          <td>{{ message.content }}</td>
          <td>{{ message.companyLib || 'Non spécifié' }}</td>
          <td>
            <span *ngIf="message.status === MessageStatus.SENT">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red; padding-right: 5px;"></i>
              <span>Echoué</span>
            </span>
          
            <span *ngIf="message.status === MessageStatus.PENDING">
              <i nz-icon nzType="check-circle" nzTheme="outline" style="color: green; padding-right: 5px;"></i>
              <span>Envoyé</span>
            </span>
          
            <span *ngIf="message.status === MessageStatus.FAILED">
              <i nz-icon nzType="clock-circle" nzTheme="outline" style="color: orange; padding-right: 5px;"></i>
              <span>En attente</span>
            </span>

            <span *ngIf="message.status === MessageStatus.SCHEDULED">
              <i nz-icon nzType="clock-circle" nzTheme="outline" style="color: orange; padding-right: 5px;"></i>
              <span>Programé</span>
            </span>
          </td>
          
         
          <td class="action-icons">
         
            <!-- Icône pour "Voir en détail" -->
            <button nz-button nzType="link" (click)="viewDetailsUser(message)">
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </button>
  
            <!-- Icône pour "Modifier" -->
            <button nz-button nzType="link" (click)="openMessageCreateModal(message)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            
            <!-- Icône pour "Supprimer" -->
            <button nz-button nzType="link" nzDanger (click)="openDeleteModal(message)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </td>
        </tr>
        
      </ng-container>
    </tbody>
  </nz-table>
  
  
  
  
  <!-- Ajoutez un conteneur pour espacer la pagination -->
  <div class="pagination-container">
    <nz-pagination
      [(nzPageIndex)]="pageIndex"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
    ></nz-pagination>
  </div>
  